/* resources/css/app.css */
@import url("utilities.css");

.hero__container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("../../public/frontend/images/hero-bg.png") no-repeat center
        center;
    background-size: cover;
}

/* Projects section design */
.project__container {
    .project__wrapper {
        flex-direction: row;

        .small__project,
        .big__project {
            height: 700px;
            border-radius: 25px;
            cursor: pointer;
            transition: flex-basis 0.5s ease-in-out;
            overflow: hidden;

            .project_hidden_info {
                position: absolute;
                bottom: -60px;
                left: 50px;
                transition: bottom .5s ease-in-out;

                .titled_button {
                    background: linear-gradient(
                        90deg,
                        rgba(245, 245, 245, 0.4) 0%,
                        rgba(245, 245, 245, 0.6) 50%,
                        rgba(245, 245, 245, 0.2) 100%
                    );
                }
            }

            &:hover .project_hidden_info {
                bottom: 50px;
            }
        }

        .small__project {
            flex-basis: 30%;
            background: url("../../public/frontend/images/projects/smallpic.png")
                no-repeat center/cover;
        }

        .big__project {
            flex-basis: 70%;
            background: url("../../public/frontend/images/projects/bigpic.png")
                no-repeat center/cover;
        }

        
    }
}

/* Footer style */
footer {
    /* background: url("../../public/frontend/images/Layer_1.svg") top left no-repeat; */

    .footer_right {
        width: 750px;
    }
}
