/* resources/css/app.css */
@import url("utilities.css");

.hero__container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('../../public/frontend/images/hero-bg.png') no-repeat center center;
    background-size: cover;
}
