/* Tailwind CSS Utilities File */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* local font-satoshi = 'Satoshi', sans-serif; */
@font-face {
    font-family: "Guton";
    src: url("/public/frontend/font/Guton-Bold.otf") format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "Guton";
    src: url("/public/frontend/font/Guton-ExtraBold.otf") format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Guton";
    src: url("/public/frontend/font/Guton-Medium.otf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Guton";
    src: url("/public/frontend/font/Guton-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Guton";
    src: url("/public/frontend/font/Guton-SemiBold.otf") format("truetype");
    font-weight: 600;
}

@layer base {
    html {
        font-family: "Satoshi", sans-serif;
    }
}

/* Custome deisgns */
@layer base {
    body {
        font-family: theme("fontFamily.satoshi");
    }
    p {
        @apply text-base text-secondary-500 font-satoshi;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-guton !important;
    }

    a {
        @apply text-secondary-500 text-link-1 font-guton transition;
    }
}


@layer components {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    .button {
        @apply px-[36px] py-[14px] rounded-[62px] font-medium transition content-center flex-row gap-3;
        position: relative;
        overflow: hidden;
        transition: all 0.3s;
        z-index: 1;
        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0%;
            height: 100%;
            background-color: #0000002a;
            transition: all 0.3s;
            border-radius: 10rem;
            z-index: -1;
        }
        &:hover {
            /* color: #fff; */
            &:before {
                width: 100%;
            }
        }
    }

    .button.button-light {
        @apply bg-white text-secondary-500;
    }

    .button:has(svg), a[class^="link-"]:has(svg) {
        @apply flex items-center font-guton;

        &:hover svg path {
            /* @apply fill-white; */
        }
    }

    .content-center {
        @apply flex flex-col items-center text-center;
    }
    .menu-link {
        @apply text-secondary-500 font-medium text-link-2 transition;
    }

    .button.btn-glass {
        background: linear-gradient(
            90deg,
            rgba(245, 245, 245, 0.4) 0%,
            rgba(245, 245, 245, 0.6) 50%,
            rgba(245, 245, 245, 0.2) 100%
        );
        border-radius: 130px;
    }
}

/* In your app.css */
footer.dark {
    --footer-bg: #141e33;
    --footer-text: white;
    --footer-border: white;
}

footer.light {
    --footer-bg: white;
    --footer-text: #141e33;
    --footer-border: #e5e7eb;
}
